exportPattern("^[[:alpha:]]+")
importFrom("grDevices", "dev.new")
importFrom("graphics", "abline", "axTicks", "axis", "box", "matplot","mtext", "par", "plot", "points","segments", "strheight","strwidth", "text", "title")
importFrom("stats", "D", "deriv")
importFrom("utils", "head", "tail")
S3method(print, diffproc)
S3method(print, fptl)
S3method(plot, fptl)
S3method(summary, fptl)
S3method(print, summary.fptl)
S3method(report, summary.fptl)
S3method(print, fpt.density)
S3method(plot, fpt.density)
S3method(report, fpt.density)
