S3method(plot, fpt.density)
S3method(plot, fptl)
S3method(print, diffproc)
S3method(print, fpt.density)
S3method(print, fptl)
S3method(print, summary.fptl)
S3method(summary, fptl)
S3method(report, fpt.density)
S3method(report, summary.fptl)
importFrom("grDevices", "dev.new")
importFrom("graphics", "abline", "axTicks", "axis", "box", "matplot", "mtext", "par", "points", "segments", "strheight", "strwidth", "text", "title")
importFrom("stats", "D", "deriv")
importFrom("utils", "head", "tail")
export("diffproc", "as.diffproc", "is.diffproc", "print.diffproc", "FPTL", "is.fptl", "print.fptl", "plot.fptl", "growth.intervals", "summary.fptl", "is.summary.fptl",
       "print.summary.fptl", "report.summary.fptl", "Approx.cfpt.density", "Approx.fpt.density", "is.fpt.density", "print.fpt.density", "plot.fpt.density", "report",
       "report.fpt.density", "Integration.Steps")